/* src/components/HeroSlider.css */

.hero-slider {
  position: relative;
  width: 98%;
  height: 88vh;
  max-height: 1000px;
  overflow: hidden;
  margin: 0 auto;
}


.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-slider {
    height: 85vh;
  }
}

@media (max-width: 480px) {
  .hero-slider {
    height: 80vh;
  }
}